* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:active {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: -1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "../fonts/Roboto";
  src: url("../fonts/Roboto-Light.eot") format("truetype");
  src: local("../fonts/Roboto Light"), local("../fonts/Roboto-Light"), url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "../fonts/Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: local("../fonts/Roboto"), local("../fonts/Roboto-Regular"), url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SFUIDisplay-Regular.eot");
  src: local("SF UI Display Regular"), local("../fonts/SFUIDisplay-Regular"), url("../fonts/SFUIDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIDisplay-Regular.woff2") format("woff2"), url("../fonts/SFUIDisplay-Regular.woff") format("woff"), url("../fonts/SFUIDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText-Light.eot");
  src: local("SF UI Text Light"), local("../fonts/SFUIText-Light"), url("../fonts/SFUIText-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Light.woff2") format("woff2"), url("../fonts/SFUIText-Light.woff") format("woff"), url("../fonts/SFUIText-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Light.eot");
  src: local("SF Pro Display Light"), local("../fonts/SFProDisplay-Light"), url("../fonts/SFProDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Light.woff2") format("woff2"), url("../fonts/SFProDisplay-Light.woff") format("woff"), url("../fonts/SFProDisplay-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Thin.eot");
  src: local("SF Pro Display Thin"), local("../fonts/SFProDisplay-Thin"), url("../fonts/SFProDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Thin.woff2") format("woff2"), url("../fonts/SFProDisplay-Thin.woff") format("woff"), url("../fonts/SFProDisplay-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Bold.eot");
  src: local("SF Pro Display Bold"), local("../fonts/SFProDisplay-Bold"), url("../fonts/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Regular.eot");
  src: local("SF Pro Display Regular"), local("../fonts/SFProDisplay-Regular"), url("../fonts/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-family-SF-Pro: "SF Pro Display";
  --font-family-SF-UI: "PT Sans";
  --font-family-Roboto: "Roboto";
}

.head {
  font-family: var(--font-family-SF-Pro);
  font-style: normal;
  font-weight: 100;
}

h1 {
  font-family: var(--font-family-SF-Pro);
  font-style: normal;
  font-weight: 100;
  font-size: 45px;
  line-height: 54px;
}

h2 {
  font-size: 36px;
  line-height: 43px;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 19px 42px;
}

p {
  font-family: var(--font-family-SF-Pro);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

button {
  width: 116px;
  height: 35px;
  left: 384px;
  top: 4277px;
  color: #FFFFFF;
  background: #0089EC;
  border-radius: 69px;
  font-family: var(--font-family-SF-Pro);
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 12px;
  /* identical to box height, or 109% */
  letter-spacing: 0.17em;
  text-transform: uppercase;
}

button:active {
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}

.blue-text {
  text-transform: uppercase;
  color: #0089EC;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 10;
}

.menu__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 22px;
}

.menu__top .menu__left .menu__item,
.menu__bottor .menu__left .menu__item {
  margin-right: 25px;
}

.menu__top .menu__left .menu__item img,
.menu__bottor .menu__left .menu__item img {
  margin-right: 10px;
}

.menu__top .menu__right .menu__item {
  margin-left: 30px;
}

.menu__bottor .menu__right .menu__item {
  margin-left: 50px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.menu__left,
.menu__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__item {
  font-family: var(--font-family-SF-Pro);
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
}

.menu__item_logo {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #0089EC;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.menu__item_city {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.menu__item_phone {
  font-weight: 600;
}

.menu__item_date {
  font-weight: normal;
}

.menu__item_getphone {
  font-weight: normal;
  /* identical to box height */
  letter-spacing: 0.1em;
}

.menu__item_getphone a:visited {
  color: #0089EC;
}

.menu__item_submenu {
  position: relative;
}

.menu__item_submenu ul {
  display: none;
}

.menu__item_submenu:hover ul {
  display: block !important;
}

.menu__item_submenu:after {
  display: inline-block;
  content: ">";
  position: absolute;
  top: -50%;
  left: 100%;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transform: translateY(50%) rotate(-90deg);
  -ms-transform: translateY(50%) rotate(-90deg);
  transform: translateY(50%) rotate(-90deg);
}

.menu__item_submenu:hover::after {
  display: inline-block;
  -webkit-transform: translateY(50%) rotate(90deg);
  -ms-transform: translateY(50%) rotate(90deg);
  transform: translateY(50%) rotate(90deg);
}

.menu__submenu {
  position: absolute;
}

.menu__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--font-family-SF-Pro);
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__icon i {
  margin-right: 10px;
}

.menu__bottor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.faceblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background: url("../img/fuman.svg") no-repeat;
  background-size: contain;
  background-position: 47% 30%;
  height: 775px;
}

.faceblock__text {
  margin: 15px 0px;
}

.faceblock__left {
  max-width: 388px;
  width: 100%;
  margin: 107px;
}

.faceblock__left h2 {
  font-size: 36px;
  line-height: 40px;
}

.faceblock__img {
  -webkit-box-flex: 0.7;
  -ms-flex-positive: 0.7;
  flex-grow: 0.7;
}

.faceblock__right {
  position: relative;
  top: -10%;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 234px;
  width: 100%;
}

.faceblock__right h2 {
  font-size: 26px;
  line-height: 46px;
}

.faceblock__right p {
  margin-bottom: 24px;
}

.faceblock__blue-text {
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.2em;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 85px;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.advantages__frame {
  position: relative;
}

.advantages__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.advantages__card {
  margin-left: 10px;
}

.advantages__text {
  margin: 16px 0px;
}

.card {
  max-width: 300px;
  width: 100%;
}

.card__head {
  font-size: 20px;
  line-height: 24px;
}

.card__link {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.2em;
}

.categories {
  margin: 33px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-contant: space-betwenn;
}

.categories__item {
  max-width: 388px;
  width: 100%;
  margin-bottom: 40px;
  background: url("../img/fon-catpng.png");
  background-position: center;
  background-size: cover;
}

.categories__item h2 {
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  text-align: center;
}

.categories__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.heades {
  font-size: 45px;
  line-height: 54px;
}

.heades_color-s {
  color: #2F4141;
}

.products {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.products .products__item:first-child {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 586px;
  background: url("../img/gray-fon.png");
}

.products .products__item:first-child .products__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  background: url("../img/flower.png") no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  background-position: center;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  z-index: 0;
}

.products .products__item:first-child .products__img img,
.products .products__item:first-child .products__img source {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  opacity: 0.5;
}

.products .products__item:first-child .products__body {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  z-index: 10;
}

.products .products__item:first-child .products__body .products__text_name {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.products .products__item:first-child .products__body .products__text_many {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.products .products__item:first-child .products__body .products__price {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.products .products__item:first-child .swiper-pagination {
  display: none;
}

.products__item {
  max-width: 339.5px;
  width: 100%;
  border: 1px solid #C5C7C8;
  padding: 25px;
}

.products__detail {
  display: inline-block;
  padding: 5px;
  color: #FFFFFF;
  border-radius: 2px;
}

.products__detail_hit {
  background: blue;
}

.products__detail_new {
  background: green;
}

.products__detail_sovet {
  background: purple;
}

.products__img {
  height: 250px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.products__text {
  margin: 10px 0px;
  font-family: var(--font-family-SF-Pro);
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 17px;
}

.products__text_many {
  display: inline list-item;
  color: green;
}

.products__text_many p {
  display: inline-block;
  border-bottom: 1px dotted green;
}

.products__price {
  font-size: 18px;
  line-height: 21px;
  color: #747B80;
  margin-top: 10px;
}

.products .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2px;
  width: 100%;
}

.products .swiper-pagination-bullet {
  margin-left: 1%;
  display: inline-block;
  width: 100%;
  height: 1px;
  background: red;
}

.products .swiper-pagination-bullet-active {
  background: green;
}

.products__button {
  margin: 45px 50%;
  color: rgba(23, 174, 255, 0.5);
  width: 145px;
  height: 35px;
  background: #FFFFFF;
  border: 1px solid rgba(23, 174, 255, 0.5);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 69px;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

.selection-help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.selection-help__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 81px;
  border-radius: 100%;
  border: 1px solid black;
  max-width: 576px;
  width: 100%;
  max-height: 576px;
  height: 576px;
}

.selection-help p {
  margin: 40px 0px;
}

.selection-help__head {
  font-size: 38px;
  line-height: 45px;
}

.Consultation {
  margin: 180px -42px;
  background: #F7F7F7;
  padding: 51px 0px 21px 0px;
  position: relative;
}

.Consultation__button {
  width: 149px;
  margin-top: 30px;
}

.Consultation::after,
.Consultation::before {
  content: "";
  width: 100%;
  height: 96px;
  position: absolute;
  background: url("../img/Consultation__fons.png");
}

.Consultation::before {
  top: -69px;
}

.Consultation::after {
  top: 104%;
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
}

.Consultation__body {
  margin: auto;
  max-width: 637px;
  width: 100%;
}

.form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0px;
}

.form__input {
  margin: 10px 0px;
  margin-right: 10px;
}

.form__input_big textarea {
  padding: 10px 10px;
  width: 674px !important;
  height: 88px !important;
  resize: none;
}

.form__input p {
  margin-bottom: 10px;
}

.form__input input {
  padding: 0px 10px;
  width: 333px;
  height: 35px;
  background: #FFFFFF;
  border: 1px solid #D9E0E2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.working-us {
  position: relative;
  margin-bottom: 160px;
}

.working-us p {
  max-width: 844px;
  margin: 20px 0px;
}

.working-us::after {
  width: 428px;
  height: 404px;
  position: absolute;
  content: "";
  background: url("../img/working-us__fons.png") no-repeat;
  top: -150%;
  right: 0px;
}

.Certificates {
  position: relative;
  margin-bottom: 100px;
}

.Certificates .swiper-button-prev {
  top: 60%;
  right: -50px;
}

.Certificates .swiper-button-next {
  top: 60%;
  left: -25px;
}

.Certificates__subtitle {
  margin: 16px 0px 52px 0px;
}

.Certificates__item {
  max-width: 340px;
  width: 100%;
  height: 167px;
  padding: 32px;
  background: #FFFFFF;
  border: 1px solid #CCD1D7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.Certificates__head {
  font-weight: 100;
  font-size: 20px;
  line-height: 22px;
}

.Certificates__text {
  margin: 10px 0px;
}

.Certificates__link {
  display: block;
  margin-top: 45px;
}

.commint-slider {
  position: relative;
  margin-bottom: 65px;
}

.commint-slider .swiper-button-prev {
  top: 60%;
  right: 0px;
}

.commint-slider .swiper-button-next {
  top: 60%;
  left: 0px;
}

.clinics-trust {
  position: relative;
}

.clinics-trust__text {
  margin: 16px 0px;
}

.clinics-trust .swiper-button-prev {
  top: 60%;
  right: 0px;
}

.clinics-trust .swiper-button-next {
  top: 60%;
  left: 0px;
}

.info {
  margin-top: 30px;
}

.info__body {
  margin-top: 24px;
}

.info__list-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.card {
  max-width: 314px;
  margin-right: 13px;
  margin-bottom: 13px;
}

.card:first-child {
  position: relative;
  max-width: 660px;
}

.card:first-child .card__body {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.card__info {
  max-width: 314px;
}

.card__img img,
.card__img source {
  opacity: 0.4;
  max-width: 100%;
}

.card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 314px;
  padding: 30px;
  background: #ffffff;
  border: 1px solid #E0E6EC;
}

.card__head {
  font-size: 18px;
  line-height: 21px;
}

.card__main {
  height: 100%;
  margin-top: 10px;
  margin-bottom: 102px;
}

.card__text {
  font-size: 12px;
  line-height: 14px;
}

.card__data {
  font-family: var(--font-family-Roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #95A2B0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__item {
  font-size: 16px;
  line-height: 145.19%;
  color: #6E868C;
}

.webp .categories__item { background: url(../img/fon-catpng.webp); }

.webp .products .products__item:first-child { background: url(../img/gray-fon.webp); }

.webp .products .products__item:first-child .products__img { background: url(../img/flower.webp) no-repeat; }

.webp .Consultation::after, .webp .Consultation::before { background: url(../img/Consultation__fons.webp); }

.webp .working-us::after { background: url(../img/working-us__fons.webp) no-repeat; }